.tab {
  border: 5px solid black;
  color: black;
  text-align: center;
  padding: 10px;
}

/* .tab {
  flex: 1;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
} */
