.welcomeText {
  font-family: "Arial";
  font-size: 4vw;
  font-weight: 600;
  padding: 20px;
}

.descriptionText {
  width: 40vw;
  text-align: center;
}

.introPage {
  background-color: lightblue;
  height: 100vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabBar {
  background-color: gray;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
